testxsd.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Row">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vendorID" type="xs:unsignedShort" />
        <xs:element name="vendorName" type="xs:string" />
        <xs:element name="cardLastDigits" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>